<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263803380049-471jd83bus2b8fifag69cjjgvo05d89u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263803380049-471jd83bus2b8fifag69cjjgvo05d89u</string>
	<key>API_KEY</key>
	<string>AIzaSyDjBCNsaIGWw45yUXTau9Jzzla1zKZjbD0</string>
	<key>GCM_SENDER_ID</key>
	<string>263803380049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.organizareTimp</string>
	<key>PROJECT_ID</key>
	<string>organizaretimp</string>
	<key>STORAGE_BUCKET</key>
	<string>organizaretimp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263803380049:ios:34b67983ffadedd076b370</string>
</dict>
</plist>